<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ChangeTracker" Manufacturer="Bulent Ozkir" Version="$(ProductVersion)"
           UpgradeCode="9408DFD6-7087-4B15-99BD-043B496F79F4" Language="1033" Scope="perMachine">
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="This version or a newer version of ChangeTracker is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="WINDOWS_BUILD">
      <RegistrySearch Id="WindowsBuildNumber" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                      Name="CurrentBuildNumber" Type="raw" Bitness="always64" />
    </Property>
    <Launch Condition="Installed OR (VersionNT64 AND WINDOWS_BUILD &gt;= 19045)"
            Message="ChangeTracker requires Windows 10 22H2 or Windows 11 on a 64-bit system." />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ChangeTracker">
        <Component Id="ApplicationExecutable" Guid="*">
          <File Id="AppExecutable" Source="!(bindpath.Publish)\PCChangeTracker.exe" KeyPath="yes">
            <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuFolder" Name="ChangeTracker"
                      WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
          </File>
        </Component>
      </Directory>
    </StandardDirectory>
    <Feature Id="Application" Title="ChangeTracker" Level="1">
      <ComponentRef Id="ApplicationExecutable" />
      <ComponentGroupRef Id="ApplicationPayload" />
    </Feature>
  </Package>
  <Fragment>
    <ComponentGroup Id="ApplicationPayload" Directory="INSTALLFOLDER">
      <Files Include="!(bindpath.Publish)\**">
        <Exclude Files="!(bindpath.Publish)\PCChangeTracker.exe" />
        <Exclude Files="!(bindpath.Publish)\AppxManifest.xml" />
        <Exclude Files="!(bindpath.Publish)\**.pdb" />
      </Files>
    </ComponentGroup>
  </Fragment>
</Wix>